# Pastas geradas pelo PyInstaller / Compilação
dist/
build/
*.spec

# Arquivos compactados
*.zip

# Ambientes virtuais (se você usar)
venv/
.venv/

# Arquivos de sistema ou IDE
.vscode/
__pycache__/
*.pycgit 

# Pastas não usadas
ArquivosJSONBackup/